* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  animation: fadeSlideIn 1s ease-out both;
}


@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


